---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      let cvLink = document.querySelector('a[href="https://casey-mcquillan.github.io/files/CV_McQuillan.pdf"]');
      if (cvLink) {
        cvLink.setAttribute("target", "_blank");
        cvLink.setAttribute("rel", "noopener noreferrer");
      }
    });
  </script>
  </body>
</html>
